@{
    ViewBag.Title = "CompletedRentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<meta http-equiv="Content-Security-Policy"
      content="base-uri 'self';
               default-src 'self';
               img-src data: https:;
               object-src 'none';
               script-src 'self'
                          'wasm-unsafe-eval';
               style-src 'self';
               upgrade-insecure-requests;">

<h2>CompletedRentDetail</h2>

<div>
    <h4>Rent Detail</h4>
    <hr />

    <div class="m-5" id="container">
        <div class="row border-2 border p-0 m-0">
            <p class="col my-auto fw-bold">Id</p>
            <p class="col my-auto fw-bold">Date</p>
            <p class="col my-auto fw-bold">Name</p>
            <p class="col my-auto fw-bold">Address</p>
            <p class="col my-auto fw-bold">Card Number</p>
        </div>

        <div class="row border-2 border p-0 m-0">
            <p class="col my-auto" id="id"></p>
            <p class="col my-auto" id="date"></p>
            <p class="col my-auto" id="name"></p>
            <p class="col my-auto" id="address"></p>
            <p class="col my-auto" id="cardNumber"></p>
        </div>

        <hr />

        <div class="row border-2 border p-0 m-0">
            <p class="col my-auto fw-bold">Title</p>
            <p class="col my-auto fw-bold">Price</p>
            <p class="col my-auto fw-bold">Rent Duration</p>
            <p class="col my-auto fw-bold">Total Price</p>
        </div>
    </div>
</div>


@section scripts{
    <script>
        GetRentDetail();

        function GetRentDetail() {
            jQuery.ajax({
                url: "@Url.Action("GetRentDetailRequest", "Shop")",
                type: "GET",
                dataType: "json",
                contentTyoe: "application/json; charset=utf-8",
                success: function (result) {
                    console.log(result);
                    document.getElementById('id').innerHTML = `#${result.Data.rentDetail.Id}`
                    document.getElementById('date').innerHTML = `${result.Data.rentDetail.StringDate}`
                    document.getElementById('name').innerHTML = `${result.Data.rentDetail.Name}`
                    document.getElementById('address').innerHTML = `${result.Data.rentDetail.Address}`
                    document.getElementById('cardNumber').innerHTML = `Visa-${result.Data.rentDetail.CardNumber}`

                    let totalCost = 0;
                    for (let index in result.Data.rentDetail.RentItemDetailModels) {
                        let item = result.Data.rentDetail.RentItemDetailModels[index]
                        document.getElementById('container').innerHTML +=
                            '<div class="row border-2 border p-0 m-0">' +
                                `<p class="col my-auto" >${item.Title}</p>` +
                                `<p class="col my-auto">$${item.Price}</p>` +
                                `<p class="col my-auto">${item.RentDuration} months</p>` +
                        `<div class="col row my-auto">` +
                        `<p class="col my-auto">$${(item.RentDuration * item.Price).toFixed(2)}</p>` +
                                    `<img class="col-5" src="${item.FirebasePosterId}" alt="${item.Title}"/>` +
                                `</div>` +
                            '</div>';
                        totalCost += item.RentDuration * item.Price;
                    }

                    document.getElementById('container').innerHTML +=
                        `<div class="row">` +
                    `<div class="col"></div>` +
                    `<p class="col-1 me-5 align-content-end fw-bold fs-3">$${totalCost.toFixed(2)}</p>` +
                        `</div>`;
                },
            });
        }
    </script>
}